*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #F7F7F2;
}
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$phone: "(max-width: 768px)";

//main option
.container {
    width: 80%;
    height: 1000px;
    margin: auto;
    border: 1px solid green;
    @media #{$phone} {
        background-color: orange;
    }
    @media #{$tablet}{
        background-color: red;
    }

};

#appName {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
};


//navigation
li {
    list-style: none;
};

#navigation {
    background-color: #7F9172;
    padding-top: 20px;    
    height: 40px;
    text-align: center;
    border: 1px solid #7A6263;
};

.nav {
    color: #F7F7F2;
    margin-left: 30px;
    text-decoration: none;
};
.nav:hover{
    text-decoration: underline;
}

.backTo {
    text-decoration: none;
    border: 1px solid gray;
};

//main alerts
#alerts > h1 {
    border-radius: 20px;
    margin: 60px auto;
    text-align: center;
    border: 1px solid #7A6263;
    width: 50%;
}
#alerts > h1:hover {
    color: #F7F7F2;
    background-color: #7A6263;
    transform: scale(1.1, 1.1);
    transition-duration: 1s;
    cursor: pointer;
}

//add flat - formularz
section {

    border: 1px solid black;
    width: 45%;
    height: 250px;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
};

input{
    display: flex;
    justify-content: center;
};

#select >select {
    margin-left: 5px;
}
#select > label {
    margin-left: 15px;
}
#select {
    text-align: center;
    border: 1px solid gray;
    width: 100%;
    height: 40px;
    margin: auto;
    padding-top: 15px;
}
.box > input{
    margin: auto;
    margin-top: 5px;
}
label.title {
    text-align: center;
}
button.form {
    width: 25%;
    height: 50px;
}

//list
.listBtn {
    width: 50px;
}
.listElem {
    margin: 10px;
}
