@import "./base";

//list
#propertyList {
    border-bottom: 1px solid #ccc;
    @media #{$phone},#{$tablet},#{$desk} {
        margin-top: 10px;
    }
}

.listElemContainer {
    border-top: 1px solid #ccc;
    position: relative;
    @media #{$phone} {
        height: 20px;
    }
    @media #{$tablet} {
        height: 30px;
    }
    @media #{$desk} {
        height: 40px;
    }
}

.listElem {
    position: absolute;
    @media #{$phone} {
        font-size: 9px;
        top: 3px;
        left: 3px;
    }
    @media #{$tablet} {
        font-size: 12px;
        top: 5px;
        left: 5px;
    }
    @media #{$desk} {
        font-size: 16px;
        top: 9px;
        left: 5px;
    }
}
.editBtn {
    position: absolute;

    @media #{$phone} {
        width: 30px;
        font-size: 8px;
        top: 2px;
        right: 40px;
    }
    @media #{$tablet} {
        width: 40px;
        font-size: 10px;
        top: 5px;
        right: 55px;
    }
    @media #{$desk} {
        font-size: 12px;
        width: 70px;
        top: 9px;
        right: 90px;
    }

}
.deleteBtn {
    position: absolute;
    @media #{$phone} {
        width: 30px;
        font-size: 8px;
        top: 2px;
        right: 3px;
    }
    @media #{$tablet} {
        width: 40px;
        font-size: 10px;
        top: 5px;
        right: 5px;
    }
    @media #{$desk} {
        width: 70px;
        font-size: 12px;
        top: 9px;
        right: 10px;
    }
}

.editBtn, .deleteBtn {
    height: 25px;
    background-color: #3A405A;
    -webkit-border-radius: 20px;
    -moz-border-radius:20px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #D4D2A5;
    box-shadow: 1px 1px 20px 0px #ADADAD;
    -webkit-box-shadow: 1px 1px 8px 0px #ADADAD;
    -moz-box-shadow: 1px 1px 8px 0px #ADADAD;
    text-shadow: 1px 1px 7px #000000;
}


.editBtn, .deleteBtn:hover {
    cursor: pointer;
}
.editBtn, .deleteBtn::after {
    clear: both;
    display: inline-block;
    content: "";
}

