.monitoring {
    text-align: center;
    background-color: white;
    margin: auto;
    width: 600px;
    height: 600px;
    background-image: url('/img/sport-1014015_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 40px 40px #F7F7F2;
    
}